*.class

# Package Files
*.jar
*.war
*.ear
/target

# Eclipse project files
.settings
.classpath
.project

# IntelliJ
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
*.iws
# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Maven
.idea/libraries
ews-java-api.iml