*.class

# Package Files
*.jar
*.war
*.ear
/target

# Eclipse project files
.settings
.classpath
.project

# IntelliJ (files are generated with 'gradlew idea')
*.iml
*.ipr
*.iws
.idea
out
test-output

# Gradle
.gradle
build/
.gradletasknamecache